<div id="topicPhoto">
	<div id="topicBody2">
		<h3 id="topicTitle"><%= "Weavel about the #{@dest.name}" %></br></h3>
		</br>
		<ul>
		<% current_user.travbuddy.each do |user|%>
			<% user.topics.each do |topic| %>
			<%if topic.destination_id == @dest.id %>
			<p><%= "#{topic.title} | Posted: #{topic.created_at.strftime('%a %b %d, %l:%M:%S')} "  %></br> <%= " #{topic.user.fname} - Traveling: #{topic.user.departure.strftime(" %b. %d, %Y")} - #{topic.user.arrival.strftime("%b. %d, %Y")} " %><div id="image"><%= image_tag topic.user.avatar.url(:thumb),{:style=> 'border-radius:20px;'}  %></div>
			<%= link_to "Respond to #{topic.user.fname}", new_city_destination_topic_comment_path(@city, @dest, topic) %> | <%= link_to "#{topic.comments.count} Comments", city_destination_topic_path(@city, @dest, topic.id)%></p>
					<% end %>
			    <% end %>
			<% end %>
		</ul>





		</br>
		</br>

		</br>
		<div id="backOne">
		<%= link_to "Add a New Topic", new_city_destination_topic_path %></br>
		</br>
		<%= link_to "Back to #{@city.name}", city_path(@city)  %>
		</div>
		</br>
		</br>
		</br>
	</div>
</div>