<div class="cityBackground">
<div class="headBackground">
<h4 class="cityName"><%="#{@city.name}"%></h4>
</div>
<p id="connectP"><%="Choose a destination to connect with other travelers."%></p>
<p id="comment1"><%="Check to see what people are talking about when you're there."%> </br> <%="Have you're own question or comment? Pick a destination and post."%>
<div id="board">
<p id="discussion"><%="Travelers that will be in #{@city.name}"%></p>

<% current_user.travbuddy.each do |user|%>
	<% user.topics.each do |topic| %>
		<%if topic.destination.city_id == @city.id %>
		

		<th><p><div id="indPhoto"><%= image_tag topic.user.avatar.url(:thumb), {:style=> 'border-radius:20px;'} %> | <%="#{topic.user.fname}: Talking about the #{topic.destination.name} "%></div><div id="topicTitle"><h5 id="comment2"><%="  #{topic.title}"%></h5></br><div id="posted"> <%="Posted: #{topic.created_at.strftime('%a %b %d, %l:%M:%S')}" %></div></div><div id="topicBody"><div id="arrival"> <%="Arrival: #{topic.user.departure.strftime(" %b. %d, %Y")} - Departure: #{topic.user.arrival.strftime(" %b. %d, %Y")}" %></div></br><div id="comm"><%="#{topic.comments.count} comments"%></div></br><div id="view"> <%= link_to "View Full Post & Comment", city_destination_topic_path(@city.id, topic.destination.id, topic.id) %></div></br></div></p></th>

		<% end %>
	<% end %>
<% end %>
    <th colspan="3"></th>
    </tr>
  </thead>
</table>

</div>

<div id="bestDestinations">
<h3>Top picks for you</h3>
	<div id="picks">
	<ul>
	<% @user.dest.each do |dest| %>
		<% if dest.city_id == @city.id %>
			<p id="destName"><%= link_to "#{dest.name}", city_destination_topics_path(@city, dest.id) %></p>
		<% end %>	
	<% end %>	
	</ul>
	</div>

</div>
<div id="dash"></div>
<div id="allDestinations">
<h3 id="allTitle"><%="All Destinations in #{@city.name}"%></h3>
<ul>
<% @city.destinations.each do |destination| %>
	<p id="All"><%= link_to "#{destination.name}", city_destination_topics_path(@city, destination.id) %></p>
<% end %>	
</ul>
</div>
<!-- <div id="back">
<%= link_to "Back to Cities", cities_path %>
</div> -->
</div>

